.footer {
  color: rgb(176, 168, 168);
  display: flex;
  gap: 5px;
  background-color: #141414;
  flex-direction: column;
  font-size: 14px;
  padding-left: 60px;
  padding-top: 50px;
}

.footer img {
  border-radius: 50%;
  margin-top: 25px;
}

.footer-padding-sm {
  padding-bottom: 10px;
}
.footer-padding-lg {
  padding-bottom: 50px;
}
