.moviedetails {
  padding-top: 40px;
}

.moviedetails-title {
  display: flex;
  color: white;
  gap: 20px;
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
.moviedetails-tab {
  text-underline-offset: 10px;
}
.photo-card {
  position: relative;
  height: 320px;
  width: 550px;
  transition: all 200ms ease-in !important;

  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}
.play-icon {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 200ms ease-in !important;
}
.photo-card:hover {
  filter: brightness(1.05);
background-size: 120%;
filter: brightness(70%)

}


.moviedetails-tab:hover {
  text-decoration: underline !important;
  transition: all 200ms ease-in;
}
.moviedetails {
  color: white;
}
.moviedetails-description {
  display: flex;
  padding: 40px 12px;
}
.moviedetails-description-image {
  padding: 7px 60px;
}
.moviedetails-description-moviedetails {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}
.moviedetails-summary {
  margin-top: 20px;
}

.moviedetails-description-details {
  padding-top: 20px;
}
.moviedescription-title {
  font-size: 26px;
}
.moviedetails-description-moviedetails-attributes,
.moviedetails-description-moviedetails-values {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.moviedetails-description-moviedetails-values {
  padding-left: 60px;
}
