



* {
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.tools {
  background-color: #282c34;
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position:sticky ;
  top: 0 ;
}
.tools :hover {
  cursor: pointer;
}
.tools img :hover {
  color: blue;
}
.landing-page {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
  padding-left: 60px;
  background-image: url(images/bg-image.jpg);
  background-position: center;
  background-size: cover;
  

}
.main-section{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  background-color: white;
  width: 100%;
}
.movie-ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.movie-details {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 18px;
  color: white;
}

.movieratings-year {
  display: flex;
  gap: 20px;
}
.movie-name {
  font-size: 45px;
}
.movie-description {
  width: 60%;
  text-align: justify;
}
.movie-section{
  display: flex;
  flex-direction: column;
  width: calc(100vh-200px);
  background-color: #141414;
  color: white;
}

.movie-section a{
  font-size: 15px;
color: blue;
text-decoration: none;
}
.status-explore{
  display: flex;
  width: fit-content;
  gap: 10px;
  justify-content:center;
align-items: center;
padding: 50px 60px;
padding-bottom: 20px;
}
.movie-status{
  font-size: 20px;

}


